[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=qbittorrent
Comment=
Exec=qbittorrent
TryExec=qbittorrent
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
